
.LandingPageInfo .Title{
    text-align: center;
    font-size: 50px;
}

.LandingPageInfo .AboutText{
    text-align: center;
    font-size: 20px;
}

.LandingPageInfo .Buttons{
    display: flex;
    justify-content: center;
}

.LandingPageInfo button{
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    cursor: pointer;
    outline: none;
}